body {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color-one);
  width: 1600px;
  margin: 0 auto;
}
:root {
  --color-one: #212121;
  --color-two: #2196f3;
  --color-three: #000000;
  --color-four: #757575;
  --color-five: #ffffff;
  --color-six: rgba(255, 255, 255, 0.6);
  --color-seven: #f5f4fa;
  --color-eight: #ececec;
  --bakground-one: #2f303a;
  --background-two: #f5f4fa;
  --background-three: #eeeeee;
  --background-four: rgba(0, 0, 0, 0.12);
  --backgraund-five: rgba(0, 0, 0, 0.14);
  --backgraund-six: rgba(0, 0, 0, 0.2);
  --backgraund-seven: rgba(0, 0, 0, 0.1);
  --backgraund-eight: rgba(0, 0, 0, 0.08);
}
ul {
  list-style-type: none;
}
.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-three);
  font-size: 26px;
  line-height: 1.19;
  cursor: default;
}
.web {
  color: var(--color-two);
}
.navigation {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}
.navigation .link {
  color: var(--color-one);
  text-decoration: none;
  cursor: pointer;
}
.link:active,
.link:hover,
.link:focus {
  color: var(--color-two);
}
.contact {
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--color-four);
  cursor: pointer;
  font-weight: 500;
}
.contact:hover,
.contact:focus {
  color: var(--color-two);
}
.header {
  background-color: var(--bakground-one);
  color: var(--color-five);
}
.header-h-one {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  margin: 0;
}
.button {
  background-color: var(--color-two);
  color: var(--color-five);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.36;
  font-weight: 700;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 0;
  padding: 10px 41px 10px 42px;
  border: 0;
  border-radius: 4px;
}
.topic-three {
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-one);
  width: 270px;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-four);
  margin: 0;
  padding: 0;
}
.topic-two {
  font-size: 36px;
  line-height: 1.17;
  color: var(--color-one);
  margin: 0;
  padding: 0;
  text-align: center;
}
.our-team {
  background-color: var(--background-two);
}
.team {
  font-size: 16px;
  line-height: 1.19;
}
.team-header {
  font-weight: 500;
  color: var(--color-one);
  text-align: center;
}
.team-text {
  font-weight: 400;
  color: var(--color-four);
  text-align: center;
}
.footer {
  background-color: var(--bakground-one);
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-five);
  font-size: 26px;
  line-height: 1.19;
  cursor: default;
}
.address {
  color: var(--color-five);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.contact-footer {
  color: var(--color-six);
  text-decoration: none;
  width: 246px;
  height: 21px;
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--color-two);
}
.button-filters-all {
  background-color: var(--color-seven);
  color: var(--color-one);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  cursor: pointer;
  width: 114px;
  height: 38px;
  border-radius: 4px;
  border-style: none;
}
.button-filters-all:hover,
.button-filters-all:focus {
  background-color: var(--color-two);
  color: var(--color-five);
  box-shadow: 0px 3px 1px var(--backgraund-seven),
    0px 1px 2px var(--backgraund-eight), 0px 2px 2px var(--background-four);
  border-style: none;
}
.button-filters-page {
  background-color: var(--color-seven);
  color: var(--color-one);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  cursor: pointer;
  width: 93px;
  height: 38px;
  border-radius: 4px;
  border-style: none;
}
.button-filters-page:hover,
.button-filters-page:focus {
  background-color: var(--color-two);
  color: var(--color-five);
  box-shadow: 0px 3px 1px var(--backgraund-seven),
    0px 1px 2px var(--backgraund-eight), 0px 2px 2px var(--background-four);
  border-style: none;
}
.button-filters-app {
  background-color: var(--color-seven);
  color: var(--color-one);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  cursor: pointer;
  width: 114px;
  height: 38px;
  border-radius: 4px;
  border-style: none;
}
.button-filters-app:hover,
.button-filters-app:focus {
  background-color: var(--color-two);
  color: var(--color-five);
  box-shadow: 0px 3px 1px var(--backgraund-seven),
    0px 1px 2px var(--backgraund-eight), 0px 2px 2px var(--background-four);
  border-style: none;
}
.button-filters-design {
  background-color: var(--color-seven);
  color: var(--color-one);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  cursor: pointer;
  width: 91px;
  height: 38px;
  border-radius: 4px;
  border-style: none;
}
.button-filters-design:hover,
.button-filters-design:focus {
  background-color: var(--color-two);
  color: var(--color-five);
  box-shadow: 0px 3px 1px var(--backgraund-seven),
    0px 1px 2px var(--backgraund-eight), 0px 2px 2px var(--background-four);
  border-style: none;
}
.button-filters-marketing {
  background-color: var(--color-seven);
  color: var(--color-one);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  cursor: pointer;
  width: 121px;
  height: 38px;
  border-radius: 4px;
  border-style: none;
}
.button-filters-marketing:hover,
.button-filters-marketing:focus {
  background-color: var(--color-two);
  color: var(--color-five);
  box-shadow: 0px 3px 1px var(--backgraund-seven),
    0px 1px 2px var(--backgraund-eight), 0px 2px 2px var(--background-four);
  border-style: none;
}
.project-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  color: var(--color-one);
  margin: 0px;
  padding-top: 20px;
  padding-bottom: 4px;
  padding-left: 24px;
}
.project-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  color: var(--color-four);
  margin: 0px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.container-header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid var(--color-eight);
}
.container-logo {
  width: 145px;
  height: 31px;
  margin-top: 24px;
  margin-left: 215px;
}
.navigation {
  display: flex;
  width: 254px;
  height: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 93px;
  padding: 0;
  justify-content: space-between;
}
.container-mail {
  width: 135px;
  height: 16px;
  margin-top: 32px;
  margin-left: 371px;
}
.container-tel {
  width: 110px;
  height: 16px;
  margin-top: 32px;
  margin-left: 50px;
}
.container-main-header {
  width: 1600px;
  height: 600px;
}
.container-h-one {
  width: 696px;
  height: 120px;
  margin-left: 452px;
  padding-top: 200px;
  text-align: center;
}
.container-main-header-button {
  width: 200px;
  height: 50px;
  margin-left: 700px;
  padding-top: 150px;
  text-align: center;
}
.container-our-strengths {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 101px;
  margin: 0;
  margin-top: 94px;
  margin-left: 215px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.container-our-strengths-box {
  width: 270px;
  height: 101px;
  display: inline-block;
  margin-right: 0px;
}
.container-what-we-do {
  width: 1200px;
  height: 386px;
  margin: 0;
  margin-top: 94px;
  margin-left: 215px;
}
.container-what-we-do-main {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.container-what-we-do-main-box {
  display: inline-block;
}
.container-our-team {
  width: 1200px;
  height: 648px;
  margin: 0;
  margin-top: 94px;
  margin-left: 215px;
  padding-top: 94px;
}
.container-our-team-main {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
.container-our-team-main-box {
  display: inline-block;
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
  background-color: var(--color-five);
  box-shadow: 0px 1px 3px var(--background-four),
    0px 1px 1px var(--backgraund-five), 0px 2px 1px var(--backgraund-six);
  border-radius: 0px 0px 4px 4px;
}
.our-team-box {
  margin: 0;
}
.container-footer {
  width: 1600px;
  height: 252px;
}
.container-logo-footer {
  width: 145px;
  height: 31px;
  padding-top: 60px;
  margin-left: 215px;
}
.container-address-footer {
  width: 246px;
  height: 81px;
  margin-top: 51px;
  margin-left: 215px;
}
.container-address-mail {
  padding-top: 9px;
  padding-bottom: 9px;
}
.container-portfolio {
  width: 1200px;
  height: 1548px;
  margin-top: 94px;
  margin-left: 215px;
}
.container-portfolio-list {
  display: flex;
  justify-content: space-between;
  width: 572px;
  height: 54px;
  margin: 0;
  margin-left: 295px;
  padding: 0;
}
.container-projekt {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 34px;
  row-gap: 30px;
  column-gap: 30px;
}
.projekt-box {
  width: 370px;
  height: 404px;
}
.element {
  margin: 0px;
  padding: 0px;
  border: 1px solid var(--background-three);
}
